.active.svelte-9oixh1 { background-color: rgb(232, 24, 153); opacity: 1; }
.active-text.svelte-9oixh1 { opacity: 1; }
.row.svelte-164w6rx { flex-direction: row; }
.column.svelte-164w6rx { flex-direction: column; }